<!doctype html>
<html>
<body>
<?- include('../partials/header') -?>
 
<div class="container">
    <h1 class="text-center">Hello</h1>
    <div class="text-center my-3 border border-success">
    </div>
    <div class="text-center">
        <%= username %>
    </div>
</div>
</body>
</html>