<% layout('layout') %>
<!doctype html>
<html>
    <?- include('../partials/head') -?>
<body>
<?-  include('../partials/header') -?>
 
<div class="container text-center">
    <h1>Hello Home Page</h1>

</div>
 
</body>
</html>